/* css reset */
*{
    margin: 0px;
    padding: 0px;
}
html{               
    scroll-behavior: smooth;
}


/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image  */
#logo{
    margin: 10px 34px;

}

#logo img{
    height: 70px;
    margin: 0px 0px;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

/* Pseudo Selector */

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a{ 
    color: white;
    display: block; 
    padding: 3px 33px;
    border-radius: 20px;    
    text-decoration: none;
}

#navbar ul li a:hover{ 
    color: black;
    background-color: white;
    
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 248px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../img/bg.png.jpg') no-repeat center center/cover ;
    height: 342px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services section */

#services{
    margin: 34px;
    display: flex; 
}
#services .box{
    border: 2px solid rgb(184, 31, 31);
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    margin-bottom:20px;
    background-color: rgb(42 45 89 / 28%)
}
#services .box img{
    height: 145px; 
    display: block; 
    margin: auto;
}

#services .box p{
    font-family: 'Bree Serif', serif;
} 

/* Clients Sections */
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('/img/Vagitable3.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
   }

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}

#clients img{
    height: 70px;
}


/* Contact section */
#contact{
    position: relative;
}
#contact::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.7;
   background:url('../img/Contact\ Us.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}

#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
 
 }

 
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1px 20px;
}

/* Ulitility Classes ( it's very helpful )*/
.h-primary{
    display: flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
    text-shadow: 2px 3px 5px #a5210e;;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    padding: 4px;
    
}
.btn{
    padding: 6px 20px;
    border: 2px solid rgb(255 255 255);
    background-color: rgb(197 51 51 / 65%);
    color: white;
    margin: 17px;
    font-size: 1.52rem;
    border-radius: 0.55pc;
    cursor: pointer;

}


.center{
    text-align: center;
}


    


